:root {
  --bg-color-dark: #282828;
  --color-dark: #e8e6e3;
  --search-container-bg: #34343d;
  --navbar-bg-color: #303030;
  --gray-link-active: #4c4c4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  color: var(--color-dark);
  background-color: var(--bg-color-dark);
  min-height: 100vh;
}
