.auth-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 35%;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: rgba(3, 3, 248, 0.2) 7px 7px 7px 7px;
}

.auth-title {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 800;
}

.auth-main {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.input-group {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}

.input-group input {
  background-color: var(--search-container-bg);
  caret-color: white;
  color: white;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.password-show-hide-icon {
  font-size: 1.3rem;
  position: absolute;
  right: 2%;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.checkbox label {
  margin: 0px;
  font-size: 1rem;
}

.auth-btn {
  width: 100%;
  margin: 1rem 0rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.guest-btn {
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.auth-btn:hover {
  opacity: 0.7;
}

.create-link {
  font-weight: 400;
}

.auth-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.auth-link-wrapper:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1100px) {
  .auth-card {
    width: 50%;
    /* min-width: max-content; */
  }
}

@media screen and (max-width: 800px) {
  .auth-card {
    width: 60%;
    /* min-width: max-content; */
  }
}

@media screen and (max-width: 600px) {
  .auth-card {
    width: 90%;
    /* min-width: max-content; */
  }
}
